html {
    background-color: #00ffea;
    height: 100%;
}

h1 {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    height: 325px;
    width: 350px;
    background-color: #0004ff;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px ;
    grid-template-areas: 
    ". bill-amount"
    ". tip-percentage"
    ". tip-amount"
    ". total-bill"
    "btn btn";
    margin: 0 auto;
    border: 5px solid #000000;
    padding: 25px;
}

#bAmnt {
    grid-area: bill-amount;
    height: 25px;
    width: 250px;
}

#tPer {
    grid-area: tip-percentage;
    height: 25px;
    width: 250px;
}

#tAmnt {
    grid-area: tip-amount;
    height: 25px;
    width: 250px;
}

#tBill {
    grid-area: total-bill;
    height: 25px;
    width: 250px;
}

#btn {
    grid-area: btn;
    height: 25px;
    width: auto;
}